AT16-SKYNET/COMPILER_SERVICE/*.pyc
AT16-SKYNET/COMPILER_SERVICE/venv
AT16-SKYNET/COMPILER_SERVICE/.idea
AT16-SKYNET/COMPILER_SERVICE/**/*.pyc
AT16-SKYNET/COMPILER_DESKTOP/*.pyc
AT16-SKYNET/COMPILER_DESKTOP/venv
AT16-SKYNET/COMPILER_DESKTOP/.idea
AT16-SKYNET/COMPILER_DESKTOP/**/*.pyc
AT16-SKYNET/CONVERT_SERVICES/*pyc
AT16-SKYNET/CONVERT_SERVICES/venv
AT16-SKYNET/CONVERT_SERVICES/.idea
AT16-SKYNET/CONVERT_SERVICES/.gitignore
AT16-SKYNET/CONVERT_SERVICES/saved_files/
AT16-SKYNET/CONVERT_SERVICES/third_party/
AT16-SKYNET/MACHINE_LEARNING_SERVICE/.gitignore
AT16-SKYNET/MACHINE_LEARNING_SERVICE/.idea
AT16-SKYNET/MACHINE_LEARNING_SERVICE/venv
AT16-SKYNET/MACHINE_LEARNING_SERVICE/*pyc
AT16-SKYNET/REPORTING_SERVICE/.idea
AT16-SKYNET/REPORTING_SERVICE/.gitignore
AT16-SKYNET/REPORTING_SERVICE/venv
AT16-SKYNET/REPORTING_SERVICE/*pyc
AT16-SKYNET/PRACTICES/venv
__pycache__/
*.py[cod]
*$py.class
.idea
sql-data/
data/
postgres-data/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
AT16-SKYNET-UI-WEB/node_modules
AT16-SKYNET-UI-WEB/.pnp
AT16-SKYNET-UI-WEB/.pnp.js

# testing
AT16-SKYNET-UI-WEB/coverage

# production
AT16-SKYNET-UI-WEB/build

# misc
AT16-SKYNET-UI-WEB/.DS_Store
AT16-SKYNET-UI-WEB/.env.local
AT16-SKYNET-UI-WEB/.env.development.local
AT16-SKYNET-UI-WEB/.env.test.local
AT16-SKYNET-UI-WEB/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


AT16-SKYNET-APOLLO/__pycache__/
AT16-SKYNET-APOLLO/bin/
AT16-SKYNET-APOLLO/include/
AT16-SKYNET-APOLLO/*.py[cod]
AT16-SKYNET-APOLLO/*$py.class
AT16-SKYNET-APOLLO/.idea